* {
    padding: 0px;
    margin: 0px;
    font-family: "Space Mono", monospace;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
.App {
    height: 100vh;
    background-color: whitesmoke;
}
.container {
    width: 95% !important;
    height: 95% !important;

    margin: auto;
    top: 20px;
    padding: 20px;

    background-color: white;

    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    /* IMPORTANTE PARA EL MENU DESPLEGABLE */
    z-index: 1;
    position: relative;
}

.icon-container {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    color: white;
    font-size: 18px;
}
.principal {
    background-color: var(--primary-color) !important;
}
.danger {
    background-color: var(--red-color) !important;
}
.warning {
    background-color: var(--orange-color) !important;
}
.icon-black {
    color: black;
}
.main-card-title {
    font-size: 1rem;
    font-weight: 600;
}
.detail-card-title {
    font-size: 0.8rem;
    font-weight: 600;
}
.card-content-text {
    font-weight: 300;
    font-size: 0.8rem;
}
.card-content-number {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}
.black-link {
    text-decoration: none;
    color: black;
}
