* {
    padding: 0px;
    margin: 0px;
}
.App {
    height: 100vh;
    background-color: whitesmoke;
    overflow: hidden;
}
.container {
    width: 95% !important;
    height: 95% !important;

    margin: auto;
    padding: 20px;

    background-color: white;

    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    /* IMPORTANTE PARA EL MENU DESPLEGABLE */
    z-index: 1;
    position: relative;
}

.icon-container {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    color: white;
    font-size: 18px;
}
.red {
    background-color: red;
}
.blue {
    background-color: #726eff;
}
