.App {
    height: 100vh;
    background-color: whitesmoke;
    overflow: hidden;
}
.container {
    width: 95% !important;
    height: 95% !important;

    margin: auto;
    padding: 20px;

    background-color: white;

    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.icon {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    color: white;
}
.red {
    background-color: red;
}
.blue {
    background-color: #726eff;
}
