.divCategory {
    box-shadow: 10px 5px 5px #aaaaaa;
    padding: 10px;
    text-align: start;
}

.inputsZone {
    display: flex;
}

.minuteInput,
.nameInput {
    width: 100%;
    border: none;
    padding: 5px;
    outline: none;
    margin-top: 5px;
}
