.div-events {
    background-color: #eeeeee;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-events div.hour-zone {
    font-size: 9px;
    box-shadow: 10px 5px 5px #aaaaaa;
    margin: 10px 5% 20px 5%;
    background-color: white;
    padding: 5%;
}

.div-events div.hour-zone div.start-hour {
    color: white;
    background-color: #7753ff;
    width: 100%;
    padding: 10px;
}

.div-events div.hour-zone div.start-hour input {
    margin-bottom: 5px;
    width: 90%;
}

.calculated-hour {
    background-color: #eeeeee;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.div-events div.event-name {
    font-size: 9px;
    box-shadow: 10px 5px 5px #aaaaaa;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5%;
    background-color: white;
    margin-right: 5%;
    padding: 10px;
}

.div-events div.event-name div {
    width: 100%;
}

.div-events div.company-room-show {
    font-size: 8px;
    margin: 10px 5% 20px 5%;
}

.div-events div.company-room-show div.room-show,
.div-events div.company-room-show div.company-show {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    box-shadow: 10px 5px 5px #aaaaaa;
}

.div-events div.category-zone {
    margin: 10px 5% 20px 5%;
    background-color: white;
}

.div-events div.organization-zone {
    margin: 10px 5% 20px 5%;
    background-color: white;
    padding: 10px;
    font-size: 9px;
    box-shadow: 10px 5px 5px #aaaaaa;
}
