.container-login {
    height: 100vh;
}
.title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 90px;
}
.container-form {
    background-color: white;
    width: 80%;
    height: 10%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 20%);
    overflow: hidden;
}

.form-input {
}

.form-button {
    position: absolute;
    right: 0;
}
