.title {
    font-size: 50px;
    font-weight: bold;

    padding-top: 100px;
    margin-bottom: 90px;
}
.container-form {
    width: 80%;
    height: 100px;
    margin-bottom: 90px;

    border-top-right-radius: 100px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 20%);
    border-bottom-right-radius: 100px;

    background-color: white;
    border: solid 1px #d2d2d2;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-input {
    width: 90%;
    height: 100%;
    padding: 0px 0px 0px 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.form-input svg {
    width: 30px;
    height: 30px;
}
.form-input input {
    height: 100%;
    width: 75%;
    font-size: 18px;
    margin-left: 20px;
    border: none;
    outline: none;
}
.form-line {
    border: solid 1px #d2d2d2;
    width: 100%;
}

.form-button {
    position: absolute;
    color: white;
    left: 93%;
    top: 31%;
}

.link-events {
    width: 30%;
    height: 50px;

    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;

    border-top-right-radius: 100px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 20%);
    border-bottom-right-radius: 100px;

    background-color: white;
    border: solid 1px #d2d2d2;
    color: var(--primary-color);
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.img-clock {
    position: absolute;
    bottom: 0;
    height: 40vh;
    width: 100%;
    background-image: url("../assets/images/clock-med.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
