.div-category {
    box-shadow:10px 5px 5px #AAAAAA;
    padding:10px;
    text-align:start;
    font-size:9px;
}

.div-category form div.inputs-zone {
    display: flex;
}

.div-category form div.inputs-zone div.name-input {
    width: 40%;
}

.div-category form div.inputs-zone div.minute-input {
    width: 50%;
    margin-left: 10%;
}

.div-category form div.inputs-zone div.minute-input input,
.div-category form div.inputs-zone div.name-input input {
    width:100%;
    border:none;
    padding:5px;
    outline:none;
    border-bottom:1px solid black;
    background-color:#EEEEEE;
    margin-top:5px
}

.div-category form button {
    border-radius:100%;
    color:white;
    background-color:#7753FF;
    border:none;
    position:relative;
    left:45%;
    top:19.5px;
    padding: 2px 4px 2px 4px;
}